@using MySalon.Controllers
@model object
@{
    ViewData["Title"] = "My Salon Homepage";
}

<header class="py-5 full-salon-background ">
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center text-center">
    </div>
</div>
</header>
