@model object
@{
    ViewData["Title"] = "Services";
}

<header class="py-5 full-image-background">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center text-center">
            <div>
                <div class="row">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/Images/haircut4.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Haircut</h5>
                            <p class="card-text">Some cool Haircuts</p>
                            <a asp-controller="Services" asp-action="HairCut" class="btn btn-info">View more</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/Images/haircolor.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Hair Color and Styling</h5>
                            <p class="card-text">Awesome coloring and styles</p>
                            <a asp-controller="Services" asp-action="HairColorStyle" class="btn btn-info">View more</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/Images/pedicure.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Pedicure</h5>
                            <p class="card-text">Better nail treatment</p>
                            <a asp-controller="Services" asp-action="Pedicure" class="btn btn-info">View more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

